<p><%= @user.last_name %><%= @user.first_name %>さん、こんにちは</p>

<p>
ようこそ、Totolog Storeへ<br>
アカウントを有効にするために、下のボタンをクリックしてください。
</p>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>