// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right .cart_content {
    display: flex;
    flex-direction: column;
}

.right .cart_content_image {
    width: 100%;
}

.right .card-img {
    width: 100%;
    object-fit: contain;
}

.right a {
    color: #777;
}
.right a:hover {
    text-decoration: none;
    color: #777;
}