@import "bootstrap-sprockets";
@import "bootstrap";

.cart_container {
    display: flex;
    width: 70%;
    margin: 6rem auto 0;
}

.col-md-4 img {
    width: 100%;
}
.image {
    padding: 10px;
}

.cart .card {
    margin-top: 1rem!important;
}

.card .destroy {
    width: 80%;
}
.card .destroy p {
    text-align: right;
}

.card .btn_change {
    border-radius: 5px;
    color: #fff;
    border-color: #609E99;
    background-color: #609E99;
    padding: 5px 10px;
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 1rem
}
.btn:hover {
    color: #fff;
}


.hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
}
.hover:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
}

.accounting {
    width: 30%;
    min-width: 200px;
    margin-left: 2rem;
}

.accounting .title {
    display: flex;
}

.accounting .accounting_count,
.accounting .accounting_total {
    width: 50%;
}

.accounting .right {
    text-align: right;
}

.accounting .accounting_title {
    margin-bottom: 3rem;
}

.accounting .accounting_btn {
    text-align: center;
    margin-top: 5rem;
}