.detail_container {
    width: 70%;
    margin: 5rem auto 0;
}

.detail_container .detail_area {
    display: flex;
}

.detail_container .left_image {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.detail_container .left_image img {
    width: 50%;
}

.detail_container .right_explanation {
    width: 30%;
}

.detail_container .right_explanation .product_detail_area {
    padding-right: 2rem;
    padding-left: 5rem;
}
.detail_container .right_explanation p {
    font-size: 2rem;
}

.detail_container .right_explanation .price {
    margin-top: 5rem;
}

.detail_container .right_explanation .detail_sentence {
    margin-top: 8rem;
}

.detail_container .right_explanation .cart {
    margin-top: 8rem;
}