.resister_container {
    width: 40%;
    margin: 5rem auto 0;
}

.resister_area {
    padding: 1rem 3rem;
}

.resister_container input {
    width: 100%;
    margin-bottom: 5rem;
    padding: 5px 2px;
}

.resister_container .resister_btn {
    width: 20%;
    margin: 5rem auto 0;
    background-color: #007bff;
    border-radius: 5px;
    border-color: #007bff;
    display: block;
    color: white;
}

.image_name {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
}