<div class="category_content">
    <ul>
        <li><%= link_to "野菜", products_path(category: "vegetables") %></li>
        <li><%= link_to "フルーツ", products_path(category: "fruits") %></li>
        <li><%= link_to "飲み物", products_path(category: "drink")%></li>
        <li><%= link_to "食べ物", products_path(category: "food") %></li>
    </ul>
</div>