<section class="buy">
    <div class="buy_container">
        <div class="buy_area">
            <div class="left">
                <div class="main_area">
                    <div class="address_container">
                        <header class="address_header"><h2>1.お届け先情報</h2></header>
                        <div class="address_area"></div>
                    </div>
                    <div class="cash_container">
                        <div class="cash_header"><h2>2.お支払い方法</h2></div>
                        <div class="cash_area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>